<h2>Add Hike Suggestion</h2>
{{>_errors}}
<p>* All fields are required</p>
<div class="formContainer addEdit">
  <form method="post">
    <fieldset>
      <label for="destination">Destination</label>
      <input name="destination" type="text" value="{{destination}}">
      <select name="county" class="select" value="{{county}}">
        <option selected hidden>County</option>
        <option value="antrim">Antrim</option>
        <option value="armagh">Armagh</option>
        <option value="carlow">Carlow</option>
        <option value="cavan">Cavan</option>
        <option value="clare">Clare</option>
      </select>
      <label for="code">Hike code</label><span class="req">Max 5 characters, letters and numbers, no spaces</span>
      <input name="code" type="text" value="{{code}}">
      <label for="meeting_point">Meeting point</label>
      <input name="meeting_point" type="text" value="{{meeting_point}}">
      <label for="hike_date">Date</label>
      <input name="hike_date" type="date" value="{{hike_date}}">
      <label for="hike_time">Time</label>
      <input name="hike_time" type="time" value="{{hike_time}}">
      <label for="estimated_time">Estimated hike time (in hours)</label>
      <input name="estimated_time" type="text" value="{{estimated_time}}">
      <select name="diff_level" class="select" value="{{diff_level}}">
        <option selected hidden>Difficulty level</option>
        <option value="&#9733;&#9734;&#9734;&#9734;&#9734;">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9734;&#9734;&#9734;">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9734;&#9734;&#9734;">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9734;">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
      </select>
      <label for="elevation">Elevation</label>
      <input name="elevation" type="text" value="{{elevation}}">
      <label for="slope">Average slope</label>
      <input name="slope" type="text" value="{{slope}}">
      <label for="description">Description</label>
      <textarea name="description">{{description}}</textarea>     
      <button type="submit" class="button">Add New Hike</button>
    </fieldset>
  </form>
</div>