<h2>Edit Hike</h2>
<div class="formContainer edit">
  <form method="post">
    <fieldset>
      <label for="destination">Destination</label><span class="req">* Required field</span>
      <input name="destination" type="text" value="{{hike.destination}}">
      <select name="county" class="select" value="{{hike.county}}">
        <option selected hidden>County</option>
        <option value="antrim">Antrim</option>
        <option value="armagh">Armagh</option>
        <option value="carlow">Carlow</option>
        <option value="cavan">Cavan</option>
        <option value="clare">Clare</option>
      </select>
      <label for="meeting_point">Meeting point</label><span class="req">* Required field</span>
      <input name="meeting_point" type="text" value="{{hike.meeting_point}}">
      <label for="hike_date">Date</label><span class="req">* Required field</span>
      <input name="hike_date" type="date" value="{{hike.hike_date}}">
      <label for="hike_time">Time</label><span class="req">* Required field</span>
      <input name="hike_time" type="time" value="{{hike.hike_time}}">
      <label for="estimated_time">Estimated hike time</label><span class="req">* Required field</span>
      <input name="estimated_time" type="text" value="{{hike.estimated_time}}">
      <select name="diff_level" class="select" value="{{hike.diff_level.value}}">
        <option selected hidden>Difficulty level</option>
        <option value="&#9733;&#9734;&#9734;&#9734;&#9734;">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9734;&#9734;&#9734;">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9734;&#9734;">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9734;">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
      </select>
      <label for="elevation">Elevation</label><span class="req">* Required field</span>
      <input name="elevation" type="text" value="{{hike.elevation}}">
      <label for="slope">Average slope</label><span class="req">* Required field</span>
      <input name="slope" type="text" value="{{hike.slope}}">
      <label for="description">Description</label>
      <textarea name="description">{{hike.description}}</textarea>     
      <button type="submit" class="button">Edit Hike</button>
    </fieldset>
  </form>
</div>