<h2>Edit Hike</h2>
<div class="formContainer addEdit">
  <form method="post">
    <fieldset>
      <label for="destination">Destination</label><span class="req"></span>
      <input name="destination" type="text" value="{{hike.destination}}">
      <select name="county" class="select" value="{{hike.county}}">
        <option selected hidden>County</option>
        <option value="antrim">Antrim</option>
        <option value="armagh">Armagh</option>
        <option value="carlow">Carlow</option>
        <option value="cavan">Cavan</option>
        <option value="clare">Clare</option>
        <option value="cork">Cork</option>
        <option value="derry">Derry</option>
        <option value="donegal">Donegal</option>
        <option value="down">Down</option>
        <option value="dublin">Dublin</option>
        <option value="fermanagh">Fermanagh</option>
        <option value="galway">Galway</option>
        <option value="kerry">Kerry</option>
        <option value="kildare">Kildare</option>
        <option value="kilkenny">Kilkenny</option>
        <option value="laois">Laois</option>
        <option value="leitrim">Leitrim</option>
        <option value="limerick">Limerick</option>
        <option value="longford">Longford</option>
        <option value="louth">Louth</option>
        <option value="mayo">Mayo</option>
        <option value="meath">Meath</option>
        <option value="monaghan">Monaghan</option>
        <option value="offaly">Offaly</option>
        <option value="roscommon">Roscommon</option>
        <option value="sligo">Sligo</option>
        <option value="tipperary">Tipperary</option>
        <option value="tyrone">Tyrone</option>
        <option value="waterford">Waterford</option>
        <option value="westmeath">Westmeath</option>
        <option value="wexford">Wexford</option>
        <option value="wicklow">Wicklow</option>
      </select>
      <label for="code" class="hidden">Hike code</label>
      <input name="code" type="text" value="{{hike.code}}" class="hidden">
      <label for="lat">Latitude</label>
      <input name="lat" type="text" value="{{hike.lat}}">
      <label for="lng">Longitude</label>
      <input name="lng" type="text" value="{{hike.lng}}">
      <label for="meeting_point">Meeting point</label><span class="req"></span>
      <input name="meeting_point" type="text" value="{{hike.meeting_point}}">
      <label for="hike_date">Date</label><span class="req"></span>
      <input name="hike_date" type="date" value="{{hike.hike_date}}">
      <label for="hike_time">Time</label><span class="req"></span>
      <input name="hike_time" type="time" value="{{hike.hike_time}}">
      <label for="hike_length">Length</label>
      <input name="hike_length" type="text" value="{{hike.hike_length}}">
      <label for="estimated_time">Estimated hike time</label><span class="req"></span>
      <input name="estimated_time" type="text" value="{{hike.estimated_time}}">
      <select name="diff_level" class="select" value="{{hike.diff_level}}">
        <option selected hidden>Difficulty level</option>
        <option value="&#9733;&#9734;&#9734;&#9734;&#9734;">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9734;&#9734;&#9734;">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9734;&#9734;">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9734;">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
        <option value="&#9733;&#9733;&#9733;&#9733;&#9733;">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
      </select>
      <label for="elevation">Elevation</label><span class="req"></span>
      <input name="elevation" type="text" value="{{hike.elevation}}">
      <label for="slope">Average slope</label><span class="req"></span>
      <input name="slope" type="text" value="{{hike.slope}}">
      <label for="description">Description</label>
      <textarea name="description">{{hike.description}}</textarea>     
      <button type="submit" class="button">Edit Hike</button>
    </fieldset>
  </form>
</div>