<h2>Hike Details</h2>
{{>_errors}}
{{>_message}}
<div id="hikeListDetails">
	<div class="leftContainer left">
		<div id="show">
			<h3>{{hike.destination}}, <span class="county capitalize">{{hike.county}}</span></h3>
			<p class="italic">by {{hike.user.name}}, {{formatDate hike.date 'DD MMMM YYYY'}}</p>
			<p>Meeting point: {{hike.meeting_point}}</p>
			<p>Date: {{formatDate hike.hike_date 'DD MMMM YYYY'}}</p>
			<p>Time: {{hike.hike_time}}</p>
			<p>Length: {{hike.hike_length}}</p>
			<p>Estimated hike time: {{hike.estimated_time}}</p>
			<p>Difficulty level: {{hike.diff_level}}</p>
			<p>Elevation: {{hike.elevation}}</p>
			<p>Average slope: {{hike.slope}}</p>
			<p>Description: {{hike.description}}</p>  
		</div>
	</div>

	<div class="rightContainer right">
		<ul class="hikeDetails">
			<li>
				<p id="hidePhone" class="button pointer">Phone</p>
				<div id="showPhone" class="hidden">
					{{#if hike.user.phone}}
					<p class="button">{{hike.user.phone}}</p>
					{{else}}
					<p class="button">Not provided</p>
					{{/if}}
				</div>
			</li>
			<li><a href="/contact/{{hike.user.email}}" class="button">email</a></li>
			<li><a href="/hikes/user/{{hike.user.id}}" class="button">{{hike.user.name}}'s hikes</a></li>
			<li><a href="/" class="button">Hike list</a></li>
		</ul>
	</div>
</div>

<label for="latitude"></label>
<input id="latitude" name="latitude" type="text" value="{{hike.lat}}" class="hidden">
<label for="longitude"></label>
<input id="longitude" name="longitude" type="text" value="{{hike.lng}}" class="hidden">
<div id="map"></div>

<div class="interestComment">
	<div class="formContainer log">
		<form action="/hikes/interest/{{hike.code}}" method="post">
			<button id="interest" type="submit" class="button right pointer">I'm interested</button>
		</form>
	</div>
	{{#if hike.interests}}
	<h3 id="interestButton">Interested hikers</h3>
	<span id="hideInterest" class="button right pointer">Show or hide interest</span>
	<div id="showInterest">
		{{#each hike.interests}}
		<div class="interestList">
			<h4>{{interestUser.name}}</h4>
			<p class="italic">{{formatDate interestDate 'DD MMMM YYYY'}}</p>
		</div>
		{{/each}}
	</div>
	{{/if}}
</div>

<div class="interestComment">
	<h3>Comments</h3>
	<button id="addComment" class="button right pointer">Add Comment</button>
		<div id="commentForm" class="formContainer log hidden">
			<form action="/hikes/comment/{{hike.code}}" method="post">
				<label for="commentTitle">Title</label>
				<input name="commentTitle" type="text" id="commentTitle" value="{{commentTitle}}">
				<label for="commentContent">Content</label>
				<textarea name="commentContent" id="commentContent"></textarea>
				<button type="submit" class="button">Submit</button>
			</form>
		</div>
		{{#if hike.comments}}
		<span id="hideComment" class="button right pointer">Show or hide comments</span>
		{{/if}}
		<div id="showComment">
			{{#each hike.comments}}
				<div id="commentList">
					<h4>{{commentTitle}}</h4>
					<p class="italic">by {{commentUser.name}}, {{formatDate commentDate 'DD MMMM YYYY'}}</p>
					<p>{{commentContent}}</p>
				</div>
			{{/each}}
		</div>
</div>