<h2>Hike Details</h2>
<div class="leftContainer left">
	<div id="show">
    <h3>{{hike.destination}}, <span class="county capitalize">{{hike.county}}</span></h3>
    <p class="italic">by {{hike.user.name}}, {{formatDate hike.date 'DD MMMM YYYY'}}</p>
		<p>Meeting point: {{hike.meeting_point}}</p>
		<p>Date: {{formatDate hike.hike_date 'DD MMMM YYYY'}}</p>
		<p>Time: {{hike.hike_time}}</p>
		<p>Estimated hike time: {{hike.estimated_time}}</p>
		<p>Difficulty level: {{hike.diff_level}}</p>
		<p>Elevation: {{hike.elevation}}</p>
		<p>Average slope: {{hike.slope}}</p>
		<p>Description: {{hike.description}}</p>  
	</div>
</div>


<div class="rightContainer right">
	<ul class="hikeDetails">
		<li><a href=# class="button">Phone</a></li>
		<li><a href="/contact/{{hike.user.email}}" class="button">email</a></li>
		<li><a href="/hikes/user/{{hike.user.id}}" class="button">{{hike.user.name}}'s hikes</a></li>
		<li><a href="/" class="button">Hike list</a></li>
	</ul>
</div>

<div class="interestComment">
	<div class="formContainer log">
		<form action="/hikes/interest/{{hike.code}}" method="post">
			<button id="interest" type="submit" class="button right">I'm interested</button>
		</form>
	</div>
	<h3 id="interestButton right">Interested hikers</h3>
	{{#each hike.interests}}
	<div id="commentList">
		<h4>{{interestUser.name}}</h4>
		<p class="italic">{{formatDate interestDate 'DD MMMM YYYY'}}</p>
	</div>
	{{/each}}
</div>

<div class="interestComment">
	<h3>Comments</h3>
	<button id="addComment" class="button right">Add Comment</button>
		<div class="formContainer log">
			<form action="/hikes/comment/{{hike.code}}" method="post">
				<label for="commentTitle">Title</label>
				<input name="commentTitle" type="text" value="{{commentTitle}}">
				<label for="commentContent">Content</label>
				<textarea name="commentContent"></textarea>
				<button type="submit" class="button">Submit</button>
			</form>
		</div>
	{{#each hike.comments}}
		<div id="commentList">
			<h4>{{commentTitle}}</h4>
			<p class="italic">by {{commentUser.name}}, {{formatDate commentDate 'DD MMMM YYYY'}}</p>
			<p>{{commentContent}}</p>
		</div>
	{{/each}}
</div>

      