<h2>Hello {{user.name}}!</h2>
<div><a href="/hikes/add" id="addHikeDash" class="button right">Add Hike</a></div>
{{> _message}}
{{#if hikes}}
  <div class="dashboard" id="dashboardHeader" class="italic">
    <p>Destination</p>
    <p>Code</p>
    <p>Edit</p>
    <p>Delete</p>
  </div>
  {{#each hikes}}
    <div class="dashboard">
      <p><a href="/hikes/show/{{code}}" class="button">{{destination}}</a></p>
      <p><span class="button">{{code}}</span></p>
      <p><a href="/hikes/edit/{{code}}" class="button">Edit</a></p>
      <p><a href="/hikes/delete/{{code}}" class="button">Delete</a></p>
    </div>
  {{/each}}
{{else}}
  <p>No hikes posted</p>
{{/if}}