<h2>Register</h2>

{{> _errors}}
{{> _message}}

<div class="formContainer log">
  <form method="post" novalidate>
    <fieldset>
      <label for="name">Name</label><span class="req">* Required field</span>
      <input name="name" type="text" value="{{name}}">
      <label for="email">Email</label><span class="req">* Required field</span>
      <input name="email" type="email" id="email" value="{{email}}">
      <label for="phone">Phone</label>
      <input name="phone" type="tel" value="{{phone}}"> 
      <label for="password">Password</label><span class="req">* Required field</span>
      <input name="password" type="password" id="password" value="{{password}}">    
      <label for="confirm_password">Confirm password</label><span class="req">* Required field</span>
      <input name="confirm_password" type="password" value="{{confirm_password}}">   
      <button type="submit" class="button">Register</button>
    </fieldset>
  </form>
  <div id="logReg">
    <p>Already registered?</p>
    <a href="login" class="button right">Log in</a>
  </div>
</div>